<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    ">
    
    <context:annotation-config />
    
    <bean id="country1" class="com.hossein.SpringConfigs.models.Country">
    	<property name="name" value="USA" />
    	<property name="population" value="300000000" />
    </bean>
    
    <bean id="country2" class="com.hossein.SpringConfigs.models.Country">
    	<property name="name" value="Germany" />
    	<property name="population" value="60000000" />
    </bean>
    
    <bean id="student" class="com.hossein.SpringConfigs.models.Student">
    	<property name="name" value="David" />
    	<property name="age" value="16" />
    </bean>
 
</beans>



